In [2]:
pip install skimpy

Collecting skimpy
  Downloading skimpy-0.0.7-py3-none-any.whl (14 kB)
Collecting jupyter<2.0.0,>=1.0.0
  Downloading jupyter-1.0.0-py2.py3-none-any.whl (2.7 kB)
Collecting rich<13.0,>=10.9
  Downloading rich-12.6.0-py3-none-any.whl (237 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 237.5/237.5 kB 11.8 MB/s eta 0:00:00
Collecting typeguard<3.0.0,>=2.12.1
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Requirement already satisfied: ipykernel<7.0.0,>=6.7.0 in /opt/conda/lib/python3.10/site-packages (from skimpy) (6.15.1)
Requirement already satisfied: pandas<2.0.0,>=1.3.2 in /opt/conda/lib/python3.10/site-packages (from skimpy) (1.4.3)
Requirement already satisfied: Pygments<3.0.0,>=2.10.0 in /opt/conda/lib/python3.10/site-packages (from skimpy) (2.12.0)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /opt/conda/lib/python3.10/site-packages (from skimpy) (1.22.4)
Requirement already satisfied: click<9.0.0,>=8.1.3 in /opt/conda/lib/python3.10/site-packages (from skimpy) (8.1.3)
Requirement already satisfied: matplotlib-inline>=0.1 in /opt/conda/lib/python3.10/site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (0.1.3)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (21.3)
Requirement already satisfied: tornado>=6.1 in /opt/conda/lib/python3.10/site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (6.1)
Requirement already satisfied: debugpy>=1.0 in /opt/conda/lib/python3.10/site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.6.0)
Requirement already satisfied: ipython>=7.23.1 in /opt/conda/lib/python3.10/site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (8.4.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /opt/conda/lib/python3.10/site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (7.3.4)
Requirement already satisfied: psutil in /opt/conda/lib/python3.10/site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.9.1)
Requirement already satisfied: traitlets>=5.1.0 in /opt/conda/lib/python3.10/site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.3.0)
Requirement already satisfied: pyzmq>=17 in /opt/conda/lib/python3.10/site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (23.2.0)
Requirement already satisfied: nest-asyncio in /opt/conda/lib/python3.10/site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.5.5)
Collecting qtconsole
  Downloading qtconsole-5.4.0-py3-none-any.whl (121 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.0/121.0 kB 7.8 MB/s eta 0:00:00
Collecting jupyter-console
  Downloading jupyter_console-6.4.4-py3-none-any.whl (22 kB)
Requirement already satisfied: ipywidgets in /opt/conda/lib/python3.10/site-packages (from jupyter<2.0.0,>=1.0.0->skimpy) (8.0.2)
Requirement already satisfied: notebook in /opt/conda/lib/python3.10/site-packages (from jupyter<2.0.0,>=1.0.0->skimpy) (6.4.12)
Requirement already satisfied: nbconvert in /opt/conda/lib/python3.10/site-packages (from jupyter<2.0.0,>=1.0.0->skimpy) (6.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas<2.0.0,>=1.3.2->skimpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas<2.0.0,>=1.3.2->skimpy) (2022.1)
Collecting commonmark<0.10.0,>=0.9.0
  Downloading commonmark-0.9.1-py2.py3-none-any.whl (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.1/51.1 kB 5.6 MB/s eta 0:00:00
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (5.1.1)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (3.0.30)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (4.8.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.3.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.10/site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (63.2.0)
Requirement already satisfied: entrypoints in /opt/conda/lib/python3.10/site-packages (from jupyter-client>=6.1.12->ipykernel<7.0.0,>=6.7.0->skimpy) (0.4)
Requirement already satisfied: jupyter-core>=4.9.2 in /opt/conda/lib/python3.10/site-packages (from jupyter-client>=6.1.12->ipykernel<7.0.0,>=6.7.0->skimpy) (4.10.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.3.2->skimpy) (1.16.0)
Requirement already satisfied: widgetsnbextension~=4.0 in /opt/conda/lib/python3.10/site-packages (from ipywidgets->jupyter<2.0.0,>=1.0.0->skimpy) (4.0.3)
Requirement already satisfied: jupyterlab-widgets~=3.0 in /opt/conda/lib/python3.10/site-packages (from ipywidgets->jupyter<2.0.0,>=1.0.0->skimpy) (3.0.3)
Requirement already satisfied: nbformat>=5.1 in /opt/conda/lib/python3.10/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (5.4.0)
Requirement already satisfied: jinja2>=3.0 in /opt/conda/lib/python3.10/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (2.1.1)
Requirement already satisfied: defusedxml in /opt/conda/lib/python3.10/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (0.7.1)
Requirement already satisfied: tinycss2 in /opt/conda/lib/python3.10/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (1.1.1)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.10/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (4.11.1)
Requirement already satisfied: bleach in /opt/conda/lib/python3.10/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (5.0.1)
Requirement already satisfied: jupyterlab-pygments in /opt/conda/lib/python3.10/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (0.2.2)
Requirement already satisfied: nbclient>=0.5.0 in /opt/conda/lib/python3.10/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (0.6.6)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/conda/lib/python3.10/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (1.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/conda/lib/python3.10/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (0.8.4)
Requirement already satisfied: Send2Trash>=1.8.0 in /opt/conda/lib/python3.10/site-packages (from notebook->jupyter<2.0.0,>=1.0.0->skimpy) (1.8.0)
Requirement already satisfied: argon2-cffi in /opt/conda/lib/python3.10/site-packages (from notebook->jupyter<2.0.0,>=1.0.0->skimpy) (21.3.0)
Requirement already satisfied: terminado>=0.8.3 in /opt/conda/lib/python3.10/site-packages (from notebook->jupyter<2.0.0,>=1.0.0->skimpy) (0.15.0)
Requirement already satisfied: prometheus-client in /opt/conda/lib/python3.10/site-packages (from notebook->jupyter<2.0.0,>=1.0.0->skimpy) (0.14.1)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from notebook->jupyter<2.0.0,>=1.0.0->skimpy) (0.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging->ipykernel<7.0.0,>=6.7.0->skimpy) (3.0.9)
Collecting qtpy>=2.0.1
  Downloading QtPy-2.3.0-py3-none-any.whl (83 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 83.6/83.6 kB 8.0 MB/s eta 0:00:00
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.8.3)
Requirement already satisfied: fastjsonschema in /opt/conda/lib/python3.10/site-packages (from nbformat>=5.1->nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (2.16.1)
Requirement already satisfied: jsonschema>=2.6 in /opt/conda/lib/python3.10/site-packages (from nbformat>=5.1->nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (4.7.2)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.5)
Requirement already satisfied: argon2-cffi-bindings in /opt/conda/lib/python3.10/site-packages (from argon2-cffi->notebook->jupyter<2.0.0,>=1.0.0->skimpy) (21.2.0)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.10/site-packages (from beautifulsoup4->nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (2.3.1)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.10/site-packages (from bleach->nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (0.5.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.2)
Requirement already satisfied: asttokens in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (2.0.5)
Requirement already satisfied: executing in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.8.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (0.18.1)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter<2.0.0,>=1.0.0->skimpy) (21.4.0)
Requirement already satisfied: cffi>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter<2.0.0,>=1.0.0->skimpy) (1.15.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.10/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter<2.0.0,>=1.0.0->skimpy) (2.21)
Installing collected packages: commonmark, typeguard, rich, qtpy, qtconsole, jupyter-console, jupyter, skimpy
Successfully installed commonmark-0.9.1 jupyter-1.0.0 jupyter-console-6.4.4 qtconsole-5.4.0 qtpy-2.3.0 rich-12.6.0 skimpy-0.0.7 typeguard-2.13.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from skimpy import clean_columns

<jemalloc>: MADV_DONTNEED does not work (memset will be used instead)
<jemalloc>: (This is the expected behaviour if you are running under QEMU)

In [1]:
#Income, PTALs, Health and Disability; General Health, Household income, House Prices, Life Expectancy, Access to Green Spaces

<jemalloc>: MADV_DONTNEED does not work (memset will be used instead)
<jemalloc>: (This is the expected behaviour if you are running under QEMU)

In [4]:
ward_profiles = pd.read_csv("data/ward-profiles-excel-version.csv", encoding="latin")
ward_profiles.head()

,Ward name,Old code,New code,Population - 2015,Children aged 0-15 - 2015,Working-age (16-64) - 2015,Older people aged 65+ - 2015,% All Children aged 0-15 - 2015,% All Working-age (16-64) - 2015,% All Older people aged 65+ - 2015,...,A-Level Average Point Score Per Student - 2013/14,A-Level Average Point Score Per Entry; 2013/14,Crime rate - 2014/15,Violence against the person rate - 2014/15,"Deliberate Fires per 1,000 population - 2014",% area that is open space - 2014,Cars per household - 2011,Average Public Transport Accessibility score - 2014,% travel by bicycle to work - 2011,Turnout at Mayoral election - 2012
0,City of London,00AA,E09000001,8100.0,650.0,6250.0,1250.0,8.0,76.9,15.2,...,662.9,210.5,656.4,85.3,0.4,18.6,0.4,7.9,5.3,48.5
1,Barking and Dagenham - Abbey,00ABFX,E05000026,14750.0,3850.0,10150.0,750.0,26.0,69.0,5.0,...,682.6,208.9,138.1,42.2,1.4,21.9,0.5,6.0,0.8,25.7
2,Barking and Dagenham - Alibon,00ABFY,E05000027,10600.0,2700.0,6800.0,1050.0,25.7,64.3,10.0,...,627.9,201.6,73.6,27.3,0.7,20.6,0.8,3.1,1.0,20.3
3,Barking and Dagenham - Becontree,00ABFZ,E05000028,12700.0,3200.0,8350.0,1100.0,25.4,65.9,8.7,...,632.0,207.9,79.9,27.6,1.2,1.9,0.9,2.9,1.6,22.5
4,Barking and Dagenham - Chadwell Heath,00ABGA,E05000029,10400.0,2550.0,6400.0,1450.0,24.3,61.5,14.2,...,613.9,210.5,76.1,24.6,1.3,56.0,0.9,2.3,1.2,25.3

In [5]:
open_spaces = pd.read_csv("data/public-open-space-nature-ward_access-to-nature.csv", encoding="latin")
open_spaces

,Ward,Old ward code,Ward name,Borough Code,Borough,% homes with good access to nature,% homes with deficiency in access to nature
0,E05000026,00ABFX,Abbey,E09000002,Barking and Dagenham,98,2
1,E05000027,00ABFY,Alibon,E09000002,Barking and Dagenham,28,72
2,E05000028,00ABFZ,Becontree,E09000002,Barking and Dagenham,83,17
3,E05000029,00ABGA,Chadwell Heath,E09000002,Barking and Dagenham,36,64
4,E05000030,00ABGB,Eastbrook,E09000002,Barking and Dagenham,100,0
...,...,...,...,...,...,...,...
621,E05000647,00BKGT,Warwick,E09000033,Westminster,69,31
622,E05000648,00BKGU,Westbourne,E09000033,Westminster,87,13
623,E05000649,00BKGW,West End,E09000033,Westminster,86,14
624,E09000001,00AA,City of London,E09000001,City of London,0,100
625,E12000007,H,NaN,E12000007,London,74,26

In [6]:
open_spaces_edit = open_spaces.copy()
open_spaces_edit = open_spaces_edit[['Ward', 'Borough', '% homes with good access to nature', '% homes with deficiency in access to nature']]

In [7]:
ward_profiles.columns
#Income, PTALs, Health and Disability; General Health, Household income, House Prices, Life Expectancy, Access to Green Spaces

Index(['Ward name', 'Old code', 'New code', 'Population - 2015',
       'Children aged 0-15 - 2015', 'Working-age (16-64) - 2015',
       'Older people aged 65+ - 2015', '% All Children aged 0-15 - 2015',
       '% All Working-age (16-64) - 2015',
       '% All Older people aged 65+ - 2015', 'Mean Age - 2013',
       'Median Age - 2013', 'Area - Square Kilometres',
       'Population density (persons per sq km) - 2013', '% BAME - 2011',
       '% Not Born in UK - 2011',
       '% English is First Language of no one in household - 2011',
       'General Fertility Rate - 2013', 'Male life expectancy -2009-13',
       'Female life expectancy -2009-13 ',
       '% children in reception year who are obese - 2011/12 to 2013/14',
       '% children in year 6 who are obese- 2011/12 to 2013/14',
       'Rate of All Ambulance Incidents per 1,000 population - 2014',
       'Rates of ambulance call outs for alcohol related illness - 2014',
       'Number Killed or Seriously Injured on the roads - 2014',
       'In employment (16-64) - 2011', 'Employment rate (16-64) - 2011',
       'Number of jobs in area - 2013',
       'Employment per head of resident WA population - 2013',
       'Rate of new registrations of migrant workers - 2011/12',
       'Median House Price (£) - 2014', 'Number of properties sold - 2014',
       'Median Household income estimate (2012/13)',
       'Number of Household spaces - 2011', '% detached houses - 2011',
       '% semi-detached houses - 2011', '% terraced houses - 2011',
       '% Flat, maisonette or apartment - 2011', '% Households Owned - 2011',
       '% Households Social Rented - 2011',
       '% Households Private Rented - 2011',
       '% dwellings in council tax bands A or B - 2015',
       '% dwellings in council tax bands C, D or E - 2015',
       '% dwellings in council tax bands F, G or H - 2015',
       'Claimant rate of key out-of-work benefits (working age client group) (2014)',
       'Claimant Rate of Housing Benefit (2015)',
       'Claimant Rate of Employment Support Allowance - 2014',
       'Rate of JobSeekers Allowance (JSA) Claimants - 2015',
       '% dependent children (0-18) in out-of-work households - 2014',
       '% of households with no adults in employment with dependent children - 2011',
       '% of lone parents not in employment - 2011',
       '(ID2010) - Rank of average score (within London) - 2010',
       '(ID2010) % of LSOAs in worst 50% nationally - 2010',
       'Average GCSE capped point scores - 2014',
       'Unauthorised Absence in All Schools (%) - 2013',
       '% with no qualifications - 2011',
       '% with Level 4 qualifications and above - 2011',
       'A-Level Average Point Score Per Student - 2013/14',
       'A-Level Average Point Score Per Entry; 2013/14',
       'Crime rate - 2014/15', 'Violence against the person rate - 2014/15',
       'Deliberate Fires per 1,000 population - 2014',
       '% area that is open space - 2014', 'Cars per household - 2011',
       'Average Public Transport Accessibility score - 2014',
       '% travel by bicycle to work - 2011',
       'Turnout at Mayoral election - 2012'],
      dtype='object')

In [16]:
ward_profiles_edit = ward_profiles.copy()
ward_profiles_edit = ward_profiles_edit[[
    'New code', 
    '% English is First Language of no one in household - 2011',
    'Median House Price (£) - 2014',
    'Median Household income estimate (2012/13)', 
    'Male life expectancy -2009-13',
    'Female life expectancy -2009-13 ',
    '% area that is open space - 2014',
    '% travel by bicycle to work - 2011',
    'Turnout at Mayoral election - 2012',
    'Crime rate - 2014/15',
    '% BAME - 2011',
    '% All Older people aged 65+ - 2015'
]]
ward_profiles_edit

,New code,% English is First Language of no one in household - 2011,Median House Price (£) - 2014,Median Household income estimate (2012/13),Male life expectancy -2009-13,Female life expectancy -2009-13,% area that is open space - 2014,% travel by bicycle to work - 2011,Turnout at Mayoral election - 2012,Crime rate - 2014/15,% BAME - 2011,% All Older people aged 65+ - 2015
0,E09000001,11.9,765000.0,63620.0,84.3,88.6,18.6,5.3,48.5,656.4,21.4,15.2
1,E05000026,25.7,173000.0,33920.0,80.2,83.9,21.9,0.8,25.7,138.1,71.9,5.0
2,E05000027,7.9,215000.0,32470.0,77.2,80.6,20.6,1.0,20.3,73.6,29.9,10.0
3,E05000028,10.5,210000.0,33000.0,79.0,79.3,1.9,1.6,22.5,79.9,41.2,8.7
4,E05000029,6.5,240500.0,33920.0,79.2,82.2,56.0,1.2,25.3,76.1,37.9,14.2
...,...,...,...,...,...,...,...,...,...,...,...,...
655,E09000031,14.5,320000.0,39460.0,79.7,83.7,34.8,2.8,37.6,83.1,47.8,10.2
656,E09000032,9.9,532500.0,66220.0,79.2,83.3,31.6,7.4,40.7,71.6,28.6,8.9
657,E09000033,22.4,875000.0,80760.0,81.7,85.9,28.6,4.8,37.7,238.3,38.3,11.4
658,E12000007,12.9,365000.0,51770.0,79.7,84.1,39.1,4.0,34.2,83.3,40.2,11.4
659,E92000001,4.4,198000.0,30763.3,79.1,83.0,NaN,2.9,NaN,66.9,14.6,17.8

In [17]:
ward_profiles_edit = ward_profiles_edit.rename(columns={"New code": "Ward"})

In [18]:
# note: maybe we should take out City of London wards 
# investigate the NaN values and if we should drop them
full_data = ward_profiles_edit.merge(open_spaces_edit, on="Ward", how="left")
full_data

,Ward,% English is First Language of no one in household - 2011,Median House Price (£) - 2014,Median Household income estimate (2012/13),Male life expectancy -2009-13,Female life expectancy -2009-13,% area that is open space - 2014,% travel by bicycle to work - 2011,Turnout at Mayoral election - 2012,Crime rate - 2014/15,% BAME - 2011,% All Older people aged 65+ - 2015,Borough,% homes with good access to nature,% homes with deficiency in access to nature
0,E09000001,11.9,765000.0,63620.0,84.3,88.6,18.6,5.3,48.5,656.4,21.4,15.2,City of London,0.0,100.0
1,E05000026,25.7,173000.0,33920.0,80.2,83.9,21.9,0.8,25.7,138.1,71.9,5.0,Barking and Dagenham,98.0,2.0
2,E05000027,7.9,215000.0,32470.0,77.2,80.6,20.6,1.0,20.3,73.6,29.9,10.0,Barking and Dagenham,28.0,72.0
3,E05000028,10.5,210000.0,33000.0,79.0,79.3,1.9,1.6,22.5,79.9,41.2,8.7,Barking and Dagenham,83.0,17.0
4,E05000029,6.5,240500.0,33920.0,79.2,82.2,56.0,1.2,25.3,76.1,37.9,14.2,Barking and Dagenham,36.0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,E09000031,14.5,320000.0,39460.0,79.7,83.7,34.8,2.8,37.6,83.1,47.8,10.2,NaN,NaN,NaN
656,E09000032,9.9,532500.0,66220.0,79.2,83.3,31.6,7.4,40.7,71.6,28.6,8.9,NaN,NaN,NaN
657,E09000033,22.4,875000.0,80760.0,81.7,85.9,28.6,4.8,37.7,238.3,38.3,11.4,NaN,NaN,NaN
658,E12000007,12.9,365000.0,51770.0,79.7,84.1,39.1,4.0,34.2,83.3,40.2,11.4,London,74.0,26.0
659,E92000001,4.4,198000.0,30763.3,79.1,83.0,NaN,2.9,NaN,66.9,14.6,17.8,NaN,NaN,NaN

In [19]:
# moving borough column to front
borough = full_data.pop('Borough')
full_data.insert(1, 'Borough', borough)
full_data

,Ward,Borough,% English is First Language of no one in household - 2011,Median House Price (£) - 2014,Median Household income estimate (2012/13),Male life expectancy -2009-13,Female life expectancy -2009-13,% area that is open space - 2014,% travel by bicycle to work - 2011,Turnout at Mayoral election - 2012,Crime rate - 2014/15,% BAME - 2011,% All Older people aged 65+ - 2015,% homes with good access to nature,% homes with deficiency in access to nature
0,E09000001,City of London,11.9,765000.0,63620.0,84.3,88.6,18.6,5.3,48.5,656.4,21.4,15.2,0.0,100.0
1,E05000026,Barking and Dagenham,25.7,173000.0,33920.0,80.2,83.9,21.9,0.8,25.7,138.1,71.9,5.0,98.0,2.0
2,E05000027,Barking and Dagenham,7.9,215000.0,32470.0,77.2,80.6,20.6,1.0,20.3,73.6,29.9,10.0,28.0,72.0
3,E05000028,Barking and Dagenham,10.5,210000.0,33000.0,79.0,79.3,1.9,1.6,22.5,79.9,41.2,8.7,83.0,17.0
4,E05000029,Barking and Dagenham,6.5,240500.0,33920.0,79.2,82.2,56.0,1.2,25.3,76.1,37.9,14.2,36.0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,E09000031,NaN,14.5,320000.0,39460.0,79.7,83.7,34.8,2.8,37.6,83.1,47.8,10.2,NaN,NaN
656,E09000032,NaN,9.9,532500.0,66220.0,79.2,83.3,31.6,7.4,40.7,71.6,28.6,8.9,NaN,NaN
657,E09000033,NaN,22.4,875000.0,80760.0,81.7,85.9,28.6,4.8,37.7,238.3,38.3,11.4,NaN,NaN
658,E12000007,London,12.9,365000.0,51770.0,79.7,84.1,39.1,4.0,34.2,83.3,40.2,11.4,74.0,26.0
659,E92000001,NaN,4.4,198000.0,30763.3,79.1,83.0,NaN,2.9,NaN,66.9,14.6,17.8,NaN,NaN

In [26]:
# cleaning names

full_data=clean_columns(full_data)

# filter out boroughs
full_data=full_data.drop(range(625,660))

0 column names have been cleaned

KeyError: '[625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659] not found in axis'

In [28]:
# filter out city of london 
full_data=full_data.drop(full_data[full_data['borough'] == 'City of London'].index)

full_data

,ward,borough,%_english_is_first_language_of_no_one_in_household_2011,median_house_price_2014,median_household_income_estimate_2012_13,male_life_expectancy_2009_13,female_life_expectancy_2009_13,%_area_that_is_open_space_2014,%_travel_by_bicycle_to_work_2011,turnout_at_mayoral_election_2012,crime_rate_2014_15,%_bame_2011,%_all_older_people_aged_65_2015,%_homes_with_good_access_to_nature,%_homes_with_deficiency_in_access_to_nature,female_life_expectancy_normalised,male_life_expectancy_normalised
1,E05000026,Barking and Dagenham,25.7,173000.0,33920.0,80.2,83.9,21.9,0.8,25.7,138.1,71.9,5.0,98.0,2.0,0.996414,1.005032
2,E05000027,Barking and Dagenham,7.9,215000.0,32470.0,77.2,80.6,20.6,1.0,20.3,73.6,29.9,10.0,28.0,72.0,0.957222,0.967437
3,E05000028,Barking and Dagenham,10.5,210000.0,33000.0,79.0,79.3,1.9,1.6,22.5,79.9,41.2,8.7,83.0,17.0,0.941783,0.989994
4,E05000029,Barking and Dagenham,6.5,240500.0,33920.0,79.2,82.2,56.0,1.2,25.3,76.1,37.9,14.2,36.0,64.0,0.976224,0.992500
5,E05000030,Barking and Dagenham,4.5,240000.0,37400.0,77.1,81.1,50.4,1.6,24.1,66.7,24.8,14.2,100.0,0.0,0.963160,0.966184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,E05000645,Westminster,15.1,715650.0,47340.0,83.3,84.3,32.4,5.9,40.2,57.7,21.8,14.9,0.0,100.0,1.001164,1.043879
621,E05000646,Westminster,17.0,840000.0,46550.0,80.0,85.1,26.4,4.3,37.8,82.4,29.3,12.6,59.0,41.0,1.010665,1.002525
622,E05000647,Westminster,15.9,857250.0,50250.0,80.7,88.5,4.0,5.9,36.8,138.1,24.0,12.1,69.0,31.0,1.051044,1.011297
623,E05000648,Westminster,24.1,499975.0,32390.0,75.1,81.6,19.2,5.1,29.6,75.5,52.8,9.0,87.0,13.0,0.969098,0.941121
624,E05000649,Westminster,24.2,1487500.0,54970.0,82.1,84.1,3.9,3.4,29.7,1212.1,32.4,11.6,86.0,14.0,0.998789,1.028842

In [29]:
# normalising some columns

mean_female_life_expectancy = full_data['female_life_expectancy_2009_13'].mean()
full_data['female_life_expectancy_normalised'] = full_data['female_life_expectancy_2009_13'] / mean_female_life_expectancy

mean_male_life_expectancy = full_data['male_life_expectancy_2009_13'].mean()
full_data['male_life_expectancy_normalised'] = full_data['male_life_expectancy_2009_13'] / mean_male_life_expectancy

full_data.head()

,ward,borough,%_english_is_first_language_of_no_one_in_household_2011,median_house_price_2014,median_household_income_estimate_2012_13,male_life_expectancy_2009_13,female_life_expectancy_2009_13,%_area_that_is_open_space_2014,%_travel_by_bicycle_to_work_2011,turnout_at_mayoral_election_2012,crime_rate_2014_15,%_bame_2011,%_all_older_people_aged_65_2015,%_homes_with_good_access_to_nature,%_homes_with_deficiency_in_access_to_nature,female_life_expectancy_normalised,male_life_expectancy_normalised
1,E05000026,Barking and Dagenham,25.7,173000.0,33920.0,80.2,83.9,21.9,0.8,25.7,138.1,71.9,5.0,98.0,2.0,0.996498,1.005313
2,E05000027,Barking and Dagenham,7.9,215000.0,32470.0,77.2,80.6,20.6,1.0,20.3,73.6,29.9,10.0,28.0,72.0,0.957303,0.967708
3,E05000028,Barking and Dagenham,10.5,210000.0,33000.0,79.0,79.3,1.9,1.6,22.5,79.9,41.2,8.7,83.0,17.0,0.941863,0.990271
4,E05000029,Barking and Dagenham,6.5,240500.0,33920.0,79.2,82.2,56.0,1.2,25.3,76.1,37.9,14.2,36.0,64.0,0.976306,0.992778
5,E05000030,Barking and Dagenham,4.5,240000.0,37400.0,77.1,81.1,50.4,1.6,24.1,66.7,24.8,14.2,100.0,0.0,0.963242,0.966455

In [30]:
full_data.to_csv('full_data.csv')